<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/5e12b6d126.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../../public/css/admin/layouts/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="navbar_right">
          <div class="info_admin">
            <img src="../../images/banner/spch.png" alt="" />
            <p>Admin</p>
          </div>
          <div class="info_admin">
            <img src="../../images/banner/spch.png" alt="" />
            <p>Nguyen Tuan Anh</p>
          </div>
          <div class="list_option">
            <ul>
              <li><a href="">Trang chủ</a></li>
              <li><a href="">Chuyên mục</a></li>
              <li><a href="">Bài viết</a></li>
              <li><a href="">Thành viên</a></li>
            </ul>
          </div>
        </div>
        <div class="navbar_left">
          <div class="header">
            <div class="header_left">
              <div class="title">
                <p><a href="">Home</a></p>
              </div>
              <div class="title">
                <p><a href="">Dashboard</a></p>
              </div>
              <div>
                <form action="" class="search">
                  <div><input type="text" placeholder="Search" /></div>
                  <div>
                    <button>
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="header_right">
              <div><i class="fa-solid fa-message"></i>
                <span>12</span>
              </div>
              <div><i class="fa-solid fa-bell"></i>
                <span>12</span>
              </div>
            </div>
          </div>
          <div class="link_page">
            <h3>Trang chủ</h3>
          </div>
          <div class="main_content">
            <div class="main_cate">
              <div class="cate">
                <div class="cate_top">
                  <div class="cate_top_left">
                    <div><h3>150</h3></div>
                    <div><p>Chuyen muc</p></div>
                  </div>
                  <div class="cate_top_right">
                    <i class="fa-solid fa-shop"></i>
                  </div>
                </div>
                <div class="cate_bot">
                  <p>Chi tiết <i class="fa-solid fa-caret-right"></i></p>
                </div>
              </div>
              <div class="cate">
                <div class="cate_top">
                  <div class="cate_top_left">
                    <div><h3>150</h3></div>
                    <div><p>Chuyen muc</p></div>
                  </div>
                  <div class="cate_top_right">
                    <i class="fa-solid fa-shapes"></i>
                  </div>
                </div>
                <div class="cate_bot">
                  <p>Chi tiết <i class="fa-solid fa-caret-right"></i></p>
                </div>
              </div>
              <div class="cate">
                <div class="cate_top">
                  <div class="cate_top_left">
                    <div><h3>150</h3></div>
                    <div><p>Chuyen muc</p></div>
                  </div>
                  <div class="cate_top_right">
                    <i class="fa-solid fa-user"></i>
                  </div>
                </div>
                <div class="cate_bot">
                  <p>Chi tiết <i class="fa-solid fa-caret-right"></i></p>
                </div>
              </div>
              <div class="cate">
                <div class="cate_top">
                  <div class="cate_top_left">
                    <div><h3>150</h3></div>
                    <div><p>Chuyen muc</p></div>
                  </div>
                  <div class="cate_top_right">
                    <i class="fa-solid fa-comment"></i>
                  </div>
                </div>
                <div class="cate_bot">
                  <p>Chi tiết <i class="fa-solid fa-caret-right"></i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
