* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.content {
    flex: 1;
}

/* start css header */
.header {
    min-height: 40px;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr 2fr;
    column-gap: 10px;
    padding: 10px 0 10px 0;
}
.action a {
    text-decoration: none;
    color: black;
}
.action a:hover {
    color: #0065e3;
    transition: 1s;
    font-weight: 900;
    font-style: italic;
}
.logo_website {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_website img {
    border-radius: 5px;
    max-height: 40px;
    min-width: 80%;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_search {
    width: 90%;
}
.btn_search {
    width: 10%;
}
.input_search input {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    border: 1px solid red;
    padding-left: 5px;
}
.input_search input:hover {
    border: 1px solid lightseagreen;
}
.btn_search button {
    border: 1px solid red;
    background-color: red;
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}
.btn_search button:hover {
    background-color: lightgreen;
    transition: 2s;
}
.account {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.account .user_icon {
    color: red;
    font-size: 30px;
}
.cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cart_icon {
    color: red;
    font-size: 30px;
    margin-right: 10px;
}
/* stop css header */

/* start css navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 40px;
}
.category_total_title {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px 0px 5px;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.link_page_child {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    background-color: white;
    border: 1px solid red;
    gap: 18px;
    align-items: center;
    font-size: 18px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.link_page_child a {
    text-decoration: none;
    color: black;
}
.link_page_child a:hover {
    transition: 1s;
    color: blue;
}
/* stop css navbar */
/* start code banner */
.banner_list_category {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.list_category {
    min-width: 100%;
    border: 1px solid red;
    font-size: 16px;
}
.list_category ul li:hover{
   transition: 0.5s;
   background-color: lightgray;
   cursor: pointer;
   color: white;
}
.list_category ul li div p:hover {
   transform: translateX(10px);
   transition: 0.5s;
}
.list_category ul li{
    padding-top: 3px;
    padding-bottom: 3px;
    list-style: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 10px;
    padding-right: 10px;
}
.list_category ul li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
}
.list_category ul li div i {
    text-align: center;
}
.logo_category img {
    width: 25px;
    height: 25px;
}
.banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}
.big_banner {
    padding-left: 2px;
}
.banner .big_banner img{
    max-width: 100%;
    min-height: 100%;
    background-size: cover;
}
.small_banner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}
.small_banner div img {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

/* stop code banner */
/* start code commit */
.commit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.child_commit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.child_commit:nth-child(-n+2) {
    border-right: 1px solid lightgray;

}
.child_commit img {
    width: 70px;
    height: 70px;
}
/* stop code commit */
/* start code product hot */
.container_product_hot {
    position: relative;
    overflow: hidden;
}
.container_product_hot button {
    position: absolute;
    top: 40%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.container_product_hot .prev {
    left: 10px;
}
.container_product_hot .next {
    right: -20px;
}
.show_product_hot {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title_product_hot p {
    border-bottom: 2px solid red;
    width: 100px;
}
.show_product_hot .banner_product_hot img {
    border-radius: 4px;
}

.show_product_hot .infomation_product_hot {
    display: flex; 
    transition: transform 0.5s ease;

}
.show_product_hot .infomation_product_hot .detail_info_product_hot {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}
.show_product_hot .infomation_product_hot .detail_info_product_hot img {
    max-width: 100%;
    max-height: auto;
}
.container .show_list_product_hot .show_product_hot .container_product_hot .infomation_product_hot .detail_info_product_hot #price_hot {
    padding-left: 10px;
    padding-bottom: 10px;
}
.container .show_list_product_hot .show_product_hot .container_product_hot .infomation_product_hot .detail_info_product_hot #name_hot {
    padding-left: 10px;
    padding-bottom: 10px;
}
/* stop code product hot */
/* start code footer */
.footer {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #140202;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}
.footer div div h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.footer div div p {
    font-size: 14px;
}
.footer div div i {
    color: #0065e3;
    font-size: 24px;
    margin-right: 4px;
}
/* stop code footer */
/* start code share_experiance */
.share_experiance {
    padding-top: 20px;
    padding-bottom: 20px;
}
.title_share_experiance {
    padding-top: 20px;
    padding-bottom: 20px;
}
.title_share_experiance p {
    font-size: 24px;
    font-weight: 300;
    border-bottom: 3px solid red;
}
.content_share_experiance {
    border: 1px solid gray;
    box-shadow: 0  0 1px 1px gray ;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.content_share_experiance .content_left{
    max-width: 100%;
}
.content_share_experiance .content_left img{
    max-width: 100%;
    border-radius: 3px;
}
.content_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content_child_right {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.content_child_right img {
    border-radius: 3px;
    width: 100px;
    height: 80px;
}
.content_child_right p {
    font-size: 18px;
}
/* stop code share_experiance */
/* start code show_products */
.show_products {
    margin-top: 30px;
    margin-bottom: 30px;
}
.show_products .title_category {
    margin-bottom: 20px;
}
.show_products .title_category h3{
    font-size: 24px;
    font-weight: 600;
}
.show_products .title_category p{
    width: 100px;
    border-bottom: 2px solid red;
}
.list_products {
    display: flex;
}
.show_detail_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.infomation_product {
    min-width: 100%;
    min-height: 100%;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.infomation_product img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
}
.image_product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}
.image_product img:hover {
    transform: scale(1.3);
}
.detail_info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
}
.detail_info h5 {
    font-size: 16px;
}
.detail_info strong {
    font-size: 14px;
    text-decoration: line-through;
}
.detail_info span {
    margin-left: 5px;
    font-style: 14px;
    color: gray;
    font-weight: 600;
}
/* stop code show_products */
/* start code page show_product_by-category */

/* start code page show_product_by-category */


