* {
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* start css header */
.header {
    min-height: 40px;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr 2fr;
    column-gap: 10px;
    padding: 10px 0 10px 0;
}
.logo_website {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_website img {
    border-radius: 5px;
    max-height: 40px;
    min-width: 80%;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_search {
    width: 90%;
}
.btn_search {
    width: 10%;
}
.input_search input {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    border: 1px solid red;
    padding-left: 5px;
}
.input_search input:hover {
    border: 1px solid lightseagreen;
}
.btn_search button {
    border: 1px solid red;
    background-color: red;
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}
.btn_search button:hover {
    background-color: lightgreen;
    transition: 2s;
}
.account {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.account .user_icon {
    color: red;
    font-size: 30px;
}
.cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cart_icon {
    color: red;
    font-size: 30px;
    margin-right: 10px;
}
/* stop css header */

/* start css navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 40px;
}
.category_total_title {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px 0px 5px;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.link_page_child {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    background-color: white;
    border: 1px solid red;
    gap: 18px;
    align-items: center;
    font-size: 18px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.link_page_child a {
    text-decoration: none;
    color: black;
}
.link_page_child a:hover {
    transition: 1s;
    color: blue;
}
/* stop css navbar */
/* start code banner */
.banner_list_category {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.list_category {
    min-width: 100%;
    border: 1px solid red;
    font-size: 16px;
}
.list_category ul li:hover{
   transition: 0.5s;
   background-color: lightgray;
   cursor: pointer;
   color: white;
}
.list_category ul li div p:hover {
   transform: translateX(10px);
   transition: 0.5s;
}
.list_category ul li{
    padding-top: 3px;
    padding-bottom: 3px;
    list-style: none;
    border-bottom: 1px solid gainsboro;
    padding-left: 10px;
    padding-right: 10px;
}
.list_category ul li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
}
.list_category ul li div i {
    text-align: center;
}
.banner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
}
.big_banner {
    padding-left: 2px;
}
.banner .big_banner img{
    max-width: 100%;
    min-height: 100%;
    background-size: cover;
}
.small_banner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}
.small_banner div img {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

/* stop code banner */
/* start code commit */
.commit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.child_commit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.child_commit:nth-child(-n+2) {
    border-right: 1px solid lightgray;

}
.child_commit img {
    width: 70px;
    height: 70px;
}
/* stop code commit */
/* start code footer */
.footer {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #140202;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}
.footer div div h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.footer div div p {
    font-size: 14px;
}
.footer div div i {
    color: #0065e3;
    font-size: 24px;
    margin-right: 4px;
}
/* stop code footer */
/* start code share_experiance */
.share_experiance {
    padding-top: 20px;
    padding-bottom: 20px;
}
.title_share_experiance {
    padding-top: 20px;
    padding-bottom: 20px;
}
.title_share_experiance p {
    font-size: 24px;
    font-weight: 300;
    border-bottom: 3px solid red;
}
.content_share_experiance {
    border: 1px solid gray;
    box-shadow: 0  0 1px 1px gray ;
    padding: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.content_share_experiance .content_left{
    max-width: 100%;
}
.content_share_experiance .content_left img{
    max-width: 100%;
    border-radius: 3px;
}
.content_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content_child_right {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.content_child_right img {
    border-radius: 3px;
    width: 100px;
    height: 80px;
}
.content_child_right p {
    font-size: 18px;
}
/* stop code share_experiance */
