* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    flex: 1;
}

.content_main {
    margin-bottom: 30px;
}

/* start css header */
.header {
    min-height: 40px;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr 2fr;
    column-gap: 10px;
    padding: 10px 0 10px 0;
}
.action a {
    text-decoration: none;
    color: black;
}
.action a:hover {
    color: #0065e3;
    transition: 1s;
    font-weight: 900;
    font-style: italic;
}
.logo_website {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_website img {
    border-radius: 5px;
    max-height: 40px;
    min-width: 80%;
}
.logo_website a {
    display: block;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_search {
    width: 90%;
}
.btn_search {
    width: 10%;
}
.input_search input {
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    border: 1px solid red;
    padding-left: 5px;
}
.input_search input:hover {
    border: 1px solid lightseagreen;
}
.btn_search button {
    border: 1px solid red;
    background-color: red;
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}
.btn_search button:hover {
    background-color: lightgreen;
    transition: 2s;
}
.account {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.account .user_icon {
    color: red;
    font-size: 30px;
}
.cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cart_icon {
    color: red;
    font-size: 30px;
    margin-right: 10px;
}
/* stop css header */

/* start css navbar */
.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 40px;
}
.category_total_title {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px 0px 5px;
    font-size: 16px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.link_page_child {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    background-color: white;
    border: 1px solid red;
    gap: 18px;
    align-items: center;
    font-size: 18px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.link_page_child a {
    text-decoration: none;
    color: black;
}
.link_page_child a:hover {
    transition: 1s;
    color: blue;
}
/* stop css navbar */


/* start code footer */
.footer {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: #140202;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}
.footer div div h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.footer div div p {
    font-size: 14px;
}
.footer div div i {
    color: #0065e3;
    font-size: 24px;
    margin-right: 4px;
}
/* stop code footer */

/* start code page show_product_by-category */

/* start code page show_product_by-category */

/* start code login css */

/* .content {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
} */
/* .login_1 {
    border-radius: 5px;
    width: 50%;
    border: 1px solid lightgray;
}
.title_1 {
    background-color: #9ab7c8;
    text-align: center;
    padding: 20px 20px ;
    font-size: 14px;
    font-weight: 600;
}
.form_login_1 {
    min-width: 100%;
}
.form_login_1 form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form_action_1 input{
    width: 100%;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid lightgray;
}
.form_action_1 button {
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #34393f;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}
.form_action_1 button:hover {
    background-color: black;
    transition: 1s;
    cursor: pointer;
}
.login_by_fb_1 button{
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px 0 10px 0;
}
.login_by_fb_1 button:hover {
    background-color: #2f06bb;
    transition: 1s;
    cursor: pointer;
}
.login_by_gg_1 button {
    width: 100%;
    background-color: red;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 10px 0 10px 0;
}
.login_by_gg_1 button:hover {
    background-color: #cc0c39;
    transition: 1s;
    cursor: pointer;
}
.action_out_1 a{
    text-decoration: none;
    color: black;
}
.action_out_1 a:hover{
    color: #cc0c39;
    transition: 1s;
    font-weight: 800;
}
.register_out a{
    text-decoration: none;
    font-style: italic;
    color: black;
}
.register_out_1 a:hover {
    transition: 1s;
    font-family: 800;
    color: blue;
} */


/* stop code login css */


